#primeira{
    background-color: aqua;
    width: 100px;
    height: 100px;
    color: black;
    padding: 10px;
    border: 10px solid blueviolet;
    box-sizing: border-box;
    margin-left: 10px;
}

#segunda{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    color: black;
    margin-left: 10px;
}

body{
    margin: 0;
    padding: 0;
    
}
