.card{
    background-color: blueviolet;
    width: 500px;
    padding: 30px;
    margin: auto;
}

ol{
    list-style: upper-alpha;
    padding: 30px;
}

li{
    background-color: aqua;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
}